#video-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

#error-wrap {
  color: rgb(189, 17, 17);
  margin-bottom: 1rem;
}

video {
  width: 49%;
  background-color: #000;
  height: 480px;
}
